
.touch {
	/*max-width: 900px;*/
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	margin: 0 auto;
	font-size: 16px;
	font-size: 1rem;

	
	
	h1, h2, h3 {
		line-height: 1.1;
	}
	
	h2 {
		font-size: 2em;
		font-family: 'MuseoSans-700', arial, helvetica, sans-serif;
		margin-top: 0;
	}
	h3 {
		font-size: 1.125em;
		font-family: 'MuseoSans-500', arial, helvetica, sans-serif;
		margin-top: 0;
		font-weight: bold;
	}
	p {
		font-size: 1.0625em;
		font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
		color: $textmain;
		line-height: 1.5;
		margin-bottom: 1em;
		margin-top: 0; 
	}
	li {
		font-size: 1em;
		font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
		line-height: 1.5;
	}
	
	img {
		width: 100%;
	}
	span.nobr {
		white-space: nowrap;
	}
}

.flex-wrap {
	max-width: 750px;
	margin: 0 auto;
	width: 94%;

	
	.text-col > p:first-child {
		color: $darkpurple;
		font-weight: 1.0625em;

	}

}


.touch .locations {
	margin: 0 0 0-1.2em;
}

.touch .locations > div {
	padding: 0 1.2em;
}


@media only screen and (min-width: 420px) and (max-width: 619px) {
	
	.locations {
		display: flex;
		flex-wrap: nowrap;
		max-width: 500px;
		justify-content: flex-start;
		/*margin: 0 -1em;*/
	}

	/*.locations > div {
		padding: 0 1em;
	}*/

}


@media only screen and (min-width: 620px) {
	.flex-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;

		.images-col {
			max-width: 315px;
		}
		.text-col {
			width: calc(96% - 315px);
		}
	}
}

@media only screen and (min-width: 680px) {
	.flex-wrap .text-col {
		width: calc(92% - 315px);
	}
}

.images-col .img-box {
	margin-bottom: 1.8em;
}

@media only screen and (min-width: 820px) {
	.locations {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	
} 

#bottom .flex-wrap {
		flex-direction: row-reverse;
}



.img-box {
  position:relative;
  box-shadow:0 1px 4px rgba(0,0,0,.1), 0 0 40px rgba(0,0,0,.05) inset;
}
.img-box::after {
	position:absolute; top:50%; bottom:0; left:10px; right:10px; z-index:-1;
  border-radius:100px / 10px;
  content:""; box-shadow:0 0 20px rgba(0,0,0,.8);
}

.banner-printers .img-box,
.banner-printers .img-box::after {
	box-shadow: none;
}

.carnival {
  position:relative;
}
.carnival::before, .carnival::after {
  position:absolute; bottom:15px; top:80%; left:10px; z-index:-1; width:50%; max-width:300px;
  background:rgba(0,0,0,.8);
  content:""; box-shadow:0 15px 10px rgba(0,0,0,.7); transform: rotate(-3deg);
}
.carnival::after {
  right:10px; left:auto;
  transform: rotate(3deg);
}

.studying
{
  position: relative;
}
.studying:before, .studying:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.studying:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.desk-mess {
  position: relative;
}
.desk-mess:before, .desk-mess:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.desk-mess:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.grow {transition: all .2s ease-in-out;}
.grow:hover {transform: scale(1.3); 
                   z-index: 10;}

/* 
Banner seperates top and buttom section 
----------------------------------------*/

.banner-printers {
	background: url('http://cdn.agilitycms.com/polaroid/landing-pages/3d-pinters-pens/3d-printers-header-background-opt.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 6%;

	.flex-wrap {
		justify-content: space-between;
		align-items: center;
	}
	
	.printers-wrap {
		display: flex;
		justify-content: space-around;
		flex: 0 0 60%;
		align-items: flex-end;
	}
	.img-box {
		width: 45%;
		flex: 0 0 45%;
		max-width: 220px;
	}
	.img-box.pinter-blue {
	    align-self: flex-end;
	    padding-bottom: .4em;
	    width: 49%;
	}

}




.banner-printers.pens {
	background: url(http://cdn.agilitycms.com/polaroid/landing-pages/3d-pinters-pens/3d-pens-header-background.jpg);
	background-size: 900px auto;
	background-repeat: no-repeat;
	background-position: 0 25%;
	overflow: hidden;
	position: relative;
	height: 220px;

	.flex-wrap {
		display: block;
		width: 100%;
		max-width: 900px;
		overflow: hidden;
		position: absolute;
	  top: 0;
	  bottom: 0;
	}
	
	.headline {
		align-self: flex-start;
		padding: 0;
		position: absolute;
		top: 10%;
		right: 28%;
		text-align: center;
	}
	.pen-blue {
		max-width: 145px;
		position: absolute;
    	bottom: 6%;
    	right: 0;
	}
	@media only screen and (max-width: 419px) {
		.headline {
			right: 0;
			left: 0;
		}
		.pen-blue {
			max-width: 135px;
		}

	}

}

@media only screen and (max-width: 619px) {

	.banner-printers {
		height: 240px!important;
	}
	.banner-printers.pens {
		background-position: 0 0;
	}
	.banner-printers .headline {
		top: 6%!important;
	}

}





.banner-printers .headline {
    color: white;
    font-size: 2.7em;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    text-align: center;
    padding: .3em 0;
}


/* CTA ribbon at the bottom */
#cta {
	margin-bottom: 4em;
	text-align: center;
	color: $goldyellow;

	a {
		color: $goldyellow;
	}
}

