.touch {
  font-size: 16px;
  font-size: 1rem;
  
  h2, h3 {
    margin-top: 0;
  }
  
  h2 {
    font-family: "MuseoSans-500", arial, helvetica, sans-serif;
    font-size: 1.625em; /* 26px */
    font-weight: 500;
    color: #2B7BB9;
  }
  h3 {
    font-family: "MuseoSans-500", arial, helvetica, sans-serif;
    font-size: 1.375em; /* 22px */
    font-weight: 500;
    color: #2B7BB9;
  }
  p {
    font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
    font-size: 1em;
    color: #4D4D4D;
    line-height: 1.5625em;
    margin-top: 0;
  }
  ul {
    margin: 1em 0 1.6em;
  }
  li {
    font-size: 1em;
    font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
    line-height: 1.6875em;
  }
  
  img {
    width: 100%;
  }
  span.nobr {
    white-space: nowrap;
    line-height: initial;
  }
  .content-container {
    padding: 1.5em 6% .5em;
    height: auto;
  }
}

@media only screen and (min-width: 660px) {
  .indent {
    width: 98%;
    margin: 0 auto;
  }
}

#main-info {
  padding: 0;


  h2 {
    text-align: center;
    margin-top: 1em;
  }


}
#stats .content-container {
  /*padding: 2.6em 1.2em;*/
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  
  .card {
    max-width: 250px;
    flex: 1 0 250px;
    margin: 0 auto;
  }
  
}

/*--------------------------------------------------------------
## Features
--------------------------------------------------------------*/
#features {
  .content-container {
      display: block;
  }
  .border-bg {
      flex: 0 0 30%;
      max-width: 260px;
      margin: 0 auto 1.5em;
  }
  .features-left {
      flex: 0 0 66%;
  }
  .features-left ul {
      padding-left: 1.2em;
      list-style-position: outside;
  }

  @media only screen and (min-width: 780px) {
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .border-bg {
      margin: 0;
    }
  }
}
/*--------------------------------------------------------------
## CTA (#colors)
--------------------------------------------------------------*/

#colors {
  padding: 0 1em;
  background: url("http://cdn.agilitycms.com/polaroid/landing-pages/pop/Polaroid-Pop-footer-background.jpg");
  background-size: cover;
  display: block;
  color: white;
  
  .colors-right {
      padding: 0;
  }

  p {
    font-family: 'MuseoSans-500',arial,helvetica,sans-serif;
    font-weight: normal;
    color: white;
    font-size: 1.25em;
    margin-bottom: 1.2em;

  }
  .sub-wrap {
    margin-bottom: 1em;
    display: flex;
  }


  .colors-left {
      flex: 0 0 50%;
      padding: 0;
      align-self: stretch;
      /*background-image: url(http://cdn.agilitycms.com/polaroid/landing-pages/pop/polaroidpop_02.png);*/
      /*background-size: cover;*/
      background-repeat: no-repeat;
      /*background-position-x: left;*/
      background: url(http://cdn.agilitycms.com/polaroid/landing-pages/pop/polaroidpop_02.png);
      background-position: center center;
      background-size: cover;
      
  }
  .colors-right {
    display: flex;
    padding: 1.5em 0;
    background-color: white;
    color: inherit;
    margin-left: -1em;
    margin-right: -1em;
    overflow: hidden;
  }
  .sub-wrap a {
    border-radius: .4em;
    border: 2px solid #fff;
    color: #fff;
    background-color: #2b7bb9;
    padding: .55em .6em .4em;
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    line-height: 1;
    transition: all .3s ease;
  }
  .sub-wrap a:hover {
    background-color: white;
    color: #2b7bb9;
    border: 2px solid #0f5e9a;
  }
  /*.fa-send:before, .fa-paper-plane:before {
    content: "\f1d8";
  }*/
  @media only screen and (max-width: 659px) {
    .colors-left {
      height: 350px;
      height: 71vw;
    }
    .text-info {
      max-width: 90%;
      margin: 0 auto;

      p {
        color: #4D4D4D;
      }

    .sub-wrap {
        width: 100%;
        flex: 1;
        display: flex;
     }
     .sub-wrap a {
      width: 100%;
      flex: 1;
      font-size: 1.5em;
      text-align: center;
      padding: .9em .6em;
     }
    }
  }
  @media only screen and (min-width: 660px) {
    .colors-right {
      padding: 0;
      flex: 1;
      background-color: inherit;
    }
    .colors-left {
      float: left;
      display: flex;
      max-width: 480px;
    }
    .colors-right {
      display: flex;
      padding: 1.5em 0;
      background-color: inherit;
      color: inherit;
      margin-left: -1em;
      margin-right: -1em;
      overflow: hidden;
    }
    .text-info {
      max-width: 340px;
    }
    
  }
  
}

@media only screen and (min-width: 660px) {
  #colors {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    height: 360px;
    height: 40vw;
    max-height: 360px;
  }
  p {
    padding-top: 0;
  }
}

#last {
    background-image: url(http://cdn.agilitycms.com/polaroid/landing-pages/p600/classic-600-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
}


@media only screen and (min-width: 661px) {
  .touch {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 660px) {
  .touch {
    font-size: 1.05rem;
  }
}
@media only screen and (max-width: 490px) {
  .touch {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 340px) {
  .touch {
    font-size: .9rem;
  }
  .features {
    padding-left: 2em;  
  }
}
@media only screen and (max-width: 654px) {
  
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

#mc_embed_signup {
  width: 100%;
}

#form {
  display: none;
  width: 100%!important;
  max-width: 600px!important;
  margin: 0 auto !important;
  padding: 1.2em;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}

#mc_embed_signup form {
  width: 100%;
  padding: 3% 6% !important;
}

#mc_embed_signup .mc-field-group.input-group input {
  margin-bottom: inherit;
}

#mc_embed_signup .mc-field-group.input-group ul {
  padding: 15px 0;
}

#button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: .6em .8em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;

    border-radius: .4em;
    border: 2px solid #fff;
    color: #fff;
    background-color: #2b7bb9;
    padding: .55em .6em .4em;
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    line-height: 1;
    transition: all .3s ease;
}
#button:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  background-color: white;
  color: #2b7bb9;
  border: 2px solid #0f5e9a;
}
#button:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .75;
}
#button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}
#mc_embed_signup input[type=checkbox] {
    -webkit-appearance: checkbox;
    vertical-align: initial;
}
.checkboxes-list {
  padding-left: 0!important;
}
