
.touch {
	margin: 0 auto;
	font-size: 16px;
	font-size: 1rem;
	
	h1, h2, h3 {
		line-height: 1.1;
	}
	
	h2 {
		font-size: 2em;
		font-family: 'MuseoSans-700', arial, helvetica, sans-serif;
		margin-top: 0;
	}
	h3 {
		font-size: 1.125em;
		font-family: 'MuseoSans-500', arial, helvetica, sans-serif;
		margin-top: 0;
		font-weight: bold;
	}
	p {
		font-size: 1.0625em;
		font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
		color: $textmain;
		line-height: 1.5;
		margin-bottom: 1em;
		margin-top: 0; 
	}
	li {
		font-size: 1em;
		font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
		line-height: 1.5;
	}
	
	img {
		width: 100%;
	}
	span.nobr {
		white-space: nowrap;
	}
}

.flex-wrap {
	max-width: 750px;
	margin: 0 auto;
	width: 94%;

	
	.text-col > p:first-child {
		color: $darkpurple;
		font-weight: 1.0625em;

	}

}

.touch .locations {
	margin: 50px auto 50px;
	max-width: 900px;
}

.touch .locations > div {
	padding: 0 .8em 0 1.2em;
	flex: 0 0 27%;
	min-width: 220px;
	margin-bottom: .6em;
}
.locations .line {
    padding: 0!important;
    border-right: 1px solid lightgray;
    margin-bottom: 1.1em;
    max-width: 1px;
}



@media only screen and (min-width: 420px) and (max-width: 619px) {
	
	.locations {
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
		justify-content: flex-start;
		/*margin: 0 -1em;*/
	}

}


@media only screen and (min-width: 620px) {
	.flex-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;

		.images-col {
			max-width: 315px;
		}
		.text-col {
			width: calc(96% - 315px);
		}
	}
}

@media only screen and (min-width: 680px) {
	.flex-wrap .text-col {
		width: calc(92% - 315px);
	}
}

.images-col .img-box {
	margin-bottom: 1.8em;
}

@media only screen and (min-width: 520px) {
	.locations {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
} 

#bottom .flex-wrap {
		flex-direction: row-reverse;
}


/*
.img-box {
  position:relative;
  box-shadow:0 1px 4px rgba(0,0,0,.1), 0 0 40px rgba(0,0,0,.05) inset;
}
.img-box::after {
	position:absolute; top:50%; bottom:0; left:10px; right:10px; z-index:-1;
  border-radius:100px / 10px;
  content:""; box-shadow:0 0 20px rgba(0,0,0,.8);
}

.banner-printers .img-box,
.banner-printers .img-box::after {
	box-shadow: none;
}*/

/* 
Banner seperates top and buttom section 
----------------------------------------*/

.banner-printers {
	background: url('http://cdn.agilitycms.com/polaroid/landing-pages/3d-pinters-pens/3d-printers-header-background-opt.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 6%;

	.flex-wrap {
		justify-content: space-between;
		align-items: center;
	}
	
	.printers-wrap {
		display: flex;
		justify-content: space-around;
		flex: 0 0 60%;
		align-items: flex-end;
	}
	.img-box {
		width: 45%;
		flex: 0 0 45%;
		max-width: 220px;
	}
	.img-box.pinter-blue {
	    align-self: flex-end;
	    padding-bottom: .4em;
	    width: 49%;
	}

}


.banner-printers.pens {
	background: url(http://cdn.agilitycms.com/polaroid/landing-pages/3d-pinters-pens/3D-pens-header-FINAL.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 68% bottom;
	overflow: hidden;
	position: relative;
	height: 420px;

	.flex-wrap {
		display: block;
		width: 100%;
		max-width: 900px;
		overflow: hidden;
	}
	
	.headline {
		align-self: flex-start;
		padding: 0;
		text-align: center;
	}
	.pen-blue {
		max-width: 145px;
		position: absolute;
    	bottom: 6%;
    	right: 0;
	}
	@media only screen and (max-width: 419px) {
		.headline {
			right: 0;
			left: 0;
		}
		.pen-blue {
			max-width: 135px;
		}

	}

}

@media only screen and (max-width: 619px) {

	.banner-printers {
		height: 240px!important;
	}
	/*.banner-printers.pens {
		background-position: 0 0;
	}*/
	.banner-printers .headline {
		/*top: 6%!important;*/
	}

}

.banner-printers .headline {
    color: white;
    font-size: 2.7em;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    text-align: center;
    padding: .3em 0;
}

.images-col .img-box {
    box-shadow: 0px 12px 16px -2px rgba(0, 0, 0, 0.22);
}