body {
	margin: 0 auto;
}
.touch {
	box-sizing: border-box;
}

.touch *,
.touch *::before,
.touch *::after {
		box-sizing: inherit!important;
}

.touch a {
	color: $goldyellow;
	text-decoration: none;
}
.touch a:hover {
	text-decoration: underline;
	/*font-weight: bold;*/
}

.touch {


	img {
		display: block;
		width: 100%;
		max-width: 100%;
		pointer-events: none;
	    user-select: none;
	    -moz-user-select: none;
	    -khtml-user-select: none;
	    -webkit-user-select: none;
	    -o-user-select: none;
	}

	.content-container {
		width: 92%;
		margin: 0 auto;
		padding: 1.2em 0;
	}

	.gold {
		color: $goldyellow;
	}
	.purp {
		color: $lightpurple;
	}

}

.touch strong {
	font-family: helvetica,sans-serif;
	font-weight: bold!important;
}

/*
Responsive Typography
----------------------*/

@media only screen and (max-width: 660px) {
	.touch {
		font-size: .9em;
	}
}
@media only screen and (max-width: 550px) {
	.features {
		column-count: 1;
	}
	.features li {
		margin-left: inherit;
	}
}
@media only screen and (max-width: 490px) {
	.touch {
		font-size: .8em;
	}
}
@media only screen and (max-width: 340px) {
	.touch {
		font-size: .75em;
	}
	.features {
		padding-left: 2em;  
	}
}
@media only screen and (max-width: 654px) {
	.touch #colors h2 {
		text-align: center;
	}
}