.touch * {
    box-sizing: border-box;
}

.sec {
	background-repeat: no-repeat;
	background-size: cover;
}
.row {
	padding-top: 2em;
	padding-bottom: 2em;
}
.col {
    padding: 0 15px;
}

.sec-inner {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}


/*--------------------------------------------------------------
## impossible
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## sub-head
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## hero
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## main-info
--------------------------------------------------------------*/
@media screen and (min-width: 680px) {
	.row.cameras,
	.row.film {
	    display: flex;
	    flex-flow: row nowrap;
	}
	.row.film .pic {
		order: 2;
	}
}

.col.pic {
    flex: 1 0 400px;
}

/*--------------------------------------------------------------
## stats
--------------------------------------------------------------*/
.card-wrap {
    display: block;
    flex-flow: row wrap;
    justify-content: space-between;
}
.card {
    flex: 0 1 32%;
    margin-bottom: 1em;
}
@media screen and (min-width: 520px) {
	.card-wrap {
	    display: flex;
	}
}



/*--------------------------------------------------------------
## features
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## colors
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## last
--------------------------------------------------------------*/