.touch * {
    box-sizing: border-box;
}

.sec {
	background-repeat: no-repeat;
	background-size: cover;
}
.row {
	padding-top: 2em;
	padding-bottom: 2em;
}
.col {
    padding: 0 15px;
}

.sec-inner {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}


/*--------------------------------------------------------------
## impossible
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## sub-head
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## hero
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## main-info
--------------------------------------------------------------*/
.row.cameras,
.row.film {
    display: flex;
    flex-flow: row nowrap;
}

.col.pic {
    flex: 1 0 400px;
}

/*--------------------------------------------------------------
## stats
--------------------------------------------------------------*/




/*--------------------------------------------------------------
## features
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## colors
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## last
--------------------------------------------------------------*/