.touch {

/* CTA ribbon at the bottom */
#cta {
    padding-bottom: 6em;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    color: $goldyellow;

    a {
        color: $goldyellow;
    }
}

.subscribe-ribon {
    background-color: $lightpurple;
    border-top: 10px solid $darkpurple;
    border-bottom: 10px solid $darkpurple;
    position: relative;
    min-height: 80px;
    box-shadow: 0px 2px 10px 0px #8c8c8c;
}
p.cta {
    font-size: 1.4rem;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    font-weight: bold;
    max-width: 550px;
    margin: 0 auto 2.25em;
    line-height: 1.3;
}
a.cta.bttn {
    font-size: 1.35rem;
    padding: 1em 1.4em;

}
@media only screen and (min-width: 619px) {
    p.cta {
        font-size: 1.8rem;
    }
    a.cta.bttn {
        font-size: 2rem;
        padding: .6em 2em;
    }
}


div#subscribe-btn {
    background-color: white;
    max-width: 190px;
    width: 190px;
    text-align: center;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid $darkpurple;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 14px 0px #8c8c8c;
}
    div#subscribe-btn a {
        font-size: 1.375em;
        color: $goldyellow;
        font-family: MuseoSans-500,arial,helvetica,sans-serif;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        max-height: 170px;
        border-radius: 50%;
        padding-top: 50%;
        padding-bottom: 50%;
        line-height: 1.1;
        text-align:center;
        transition: all .15s ease;
    }
    #subscribe-btn a:hover {
       box-shadow: inset 0 0 16px 4px #d3d3d3;
    }

.subscribe-ribon-outter {
    position: relative;
}

}