section#cta {
    padding-bottom: 4em;
    position: relative;
}

.subscribe-ribon {
    background-color: $lightpurple;
    border-top: 7px solid $darkpurple;
    border-bottom: 7px solid $darkpurple;
    position: relative;
    min-height: 60px;
}

div#subscribe-btn {
    background-color: white;
    max-width: 140px;
    width: 140px;
    text-align: center;
    height: 140px;
    border-radius: 130px;
    border: 7px solid $darkpurple;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-ribon-outter {
    position: relative;
}