.touch {

	h1 {
		font-size: 2.72rem;
		font-weight: normal;
    font-family: MuseoSans-500,arial,helvetica,sans-serif;
    margin: .275em 0;
	}

	h1 span.text-logo {
		font-family: MuseoSans-500,arial,helvetica,sans-serif;
		font-weight: bold;
		white-space: nowrap;
	}
	h1 div {
		display: inline-block;
	}
}


#hero {

	padding: 4em 0 1.6em;
	text-align: center;

	.text-logo:before {
		content: url(http://cdn.agilitycms.com/polaroid/landing-pages/3d-pinters-pens/polaroid-diamond.png);
		vertical-align: middle;

	}
		.hero.inner {
			max-width: 640px;
			margin: 0 auto;
			padding-bottom: 0;
			width: 94%;
		}
		.top {
			border-bottom: 1px solid lightgray;
			padding: 0 .8em;
			margin: 0 auto;
			
			.polaroid-logo {
				max-width: 433px;
				margin: 0 auto;
				
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		

		.sub-hero h2 {
			text-align: center;
			color: $goldyellow;
			margin: 0 0 1em;
			padding: .5em 0;
			font-weight: normal;
		}
	}